# dependencies
/node_modules
/.pnpm-store

# next.js build output
/.next/
/out/

# production & temp build output
/build
/dist

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (CRITICAL: NEVER COMMIT THESE TO GIT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
*.pem
Thumbs.db
